In [1]:
import pandas as pd
# Inventory DataFrame
data = {
    "Location1": [100, 50, 300, 200, 80],
    "Location2": [200, 60, 400, 250, 90],
    "Location3": [150, 40, 350, 220, 70],
    "Location4": [300, 80, 500, 270, 100]
}
inventory = pd.DataFrame(data, index=["Product1", "Product2", "Product3", "Product4", "Product5"])

In [2]:
# 1.  Display the first two rows of the inventory DataFrame.
inventory.head(2)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80

In [3]:
# 2.Get the total number of rows and columns in the DataFrame.
inventory.shape

(5, 4)

In [4]:
# 3. List the column names and row indices.
inventory.columns.tolist()

['Location1', 'Location2', 'Location3', 'Location4']

In [5]:
# row indices
inventory.index.tolist()

['Product1', 'Product2', 'Product3', 'Product4', 'Product5']

In [6]:
# 4. Display the data type of each column in the DataFrame
inventory.dtypes

Location1    int64
Location2    int64
Location3    int64
Location4    int64
dtype: object

In [7]:
# 5.Check if there are any missing values in the DataFrame.
inventory.isnull().sum()

Location1    0
Location2    0
Location3    0
Location4    0
dtype: int64

In [8]:
# 6.Retrieve the stock levels for "Product3" across all locations. 
print(inventory.loc["Product3"])

Location1    300
Location2    400
Location3    350
Location4    500
Name: Product3, dtype: int64

In [9]:
# 7.Extract the stock levels for "Location2" across all products.
print(inventory.iloc[:, 1])

Product1    200
Product2     60
Product3    400
Product4    250
Product5     90
Name: Location2, dtype: int64

In [10]:
# 8.Retrieve the stock levels of "Product 1" and "Product4" for "Location1" and "Location3".
print(inventory.iloc[[0,3],[0,2]])

          Location1  Location3
Product1        100        150
Product4        200        220

In [11]:
# 9.Slice the DataFrame to get the first 3 products and the first 2 locations.
print(inventory.iloc[0:3,0:4])

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80
Product3        300        400        350        500

In [12]:
# 10.Retrieve the stock level of "Product 5" at "Location 3" 
print(inventory.loc["Product5", "Location3"])

70

In [13]:
# 11.Update the stock level of "Product2" at "Location4" to 120 units.
inventory.loc["Product2", "Location4"] = 120
print(inventory)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40        120
Product3        300        400        350        500
Product4        200        250        220        270
Product5         80         90         70        100

In [14]:
#12.Add a new row for "Product6" with the stock levels [150, 180, 140, 200].
inventory.loc["Product6"] = [150, 180, 140, 200]
print(inventory)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40        120
Product3        300        400        350        500
Product4        200        250        220        270
Product5         80         90         70        100
Product6        150        180        140        200

In [15]:
#13.Add 10 units to the stock of all products across all locations.
inventory = inventory + 10
print(inventory)

          Location1  Location2  Location3  Location4
Product1        110        210        160        310
Product2         60         70         50        130
Product3        310        410        360        510
Product4        210        260        230        280
Product5         90        100         80        110
Product6        160        190        150        210

In [16]:
#14. Deduct 5 units from the stock of "Product4" in all locations.
inventory.loc["Product4"] = inventory.loc["Product4"] - 5
print(inventory)

          Location1  Location2  Location3  Location4
Product1        110        210        160        310
Product2         60         70         50        130
Product3        310        410        360        510
Product4        205        255        225        275
Product5         90        100         80        110
Product6        160        190        150        210

In [17]:
#15.Calculate the percentage of stock available for each product at all locations, assuming each location has a maximum capacity of 1000 units.

max_capacity = 1000
percentage_stock = (inventory / max_capacity) * 100
print(percentage_stock)

          Location1  Location2  Location3  Location4
Product1       11.0       21.0       16.0       31.0
Product2        6.0        7.0        5.0       13.0
Product3       31.0       41.0       36.0       51.0
Product4       20.5       25.5       22.5       27.5
Product5        9.0       10.0        8.0       11.0
Product6       16.0       19.0       15.0       21.0

In [18]:
#16.Calculate the total stock of each product across all locations.
total_stock_per_product = inventory.sum(axis=1)
print(total_stock_per_product)

Product1     790
Product2     310
Product3    1590
Product4     960
Product5     380
Product6     710
dtype: int64

In [19]:
#17. Determine the Total stock available in each location.
total_stock_per_location = inventory.sum(axis=0)
print(total_stock_per_location)

Location1     935
Location2    1235
Location3    1025
Location4    1545
dtype: int64

In [20]:
#18.Find the Product with the highest total stock.
max_stock_product = total_stock_per_product.idxmax()
print(max_stock_product)

Product3

In [21]:
#19.Identify the Location with the lowest total stock.
min_stock_location = total_stock_per_location.idxmin()
print(min_stock_location)

Location1

In [22]:
#20.Compute the  Average stock per location.
average_stock_per_location = inventory.mean(axis=0)
print(average_stock_per_location)

Location1    155.833333
Location2    205.833333
Location3    170.833333
Location4    257.500000
dtype: float64

In [23]:
#21. Add a new column called 'Total Stock to display the total stock of each product.
inventory["Total Stock"] = total_stock_per_product
print(inventory)

          Location1  Location2  Location3  Location4  Total Stock
Product1        110        210        160        310          790
Product2         60         70         50        130          310
Product3        310        410        360        510         1590
Product4        205        255        225        275          960
Product5         90        100         80        110          380
Product6        160        190        150        210          710

In [24]:
#22.Sort the DataFrame based on the 'Total Stock' column in descending order:")
sorted_inventory = inventory.sort_values("Total Stock", ascending=False)
print(sorted_inventory)

          Location1  Location2  Location3  Location4  Total Stock
Product3        310        410        360        510         1590
Product4        205        255        225        275          960
Product1        110        210        160        310          790
Product6        160        190        150        210          710
Product5         90        100         80        110          380
Product2         60         70         50        130          310

In [25]:
#23. Filter the  Products with a total stock of more than 1000 units:")
filtered_inventory = inventory[inventory["Total Stock"] > 1000]
print(filtered_inventory)

          Location1  Location2  Location3  Location4  Total Stock
Product3        310        410        360        510         1590