In [1]:
import pandas as pd
dt=pd.read_csv('retail_store_inventory.csv')

In [2]:
dt

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73095,2024-01-01,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,Snowy,0,72.45,Winter
73096,2024-01-01,S005,P0017,Toys,North,313,51,101,48.43,82.57,10,Cloudy,0,83.78,Autumn
73097,2024-01-01,S005,P0018,Clothing,West,278,36,151,39.65,11.11,10,Rainy,0,10.91,Winter
73098,2024-01-01,S005,P0019,Toys,East,374,264,21,270.52,53.14,20,Rainy,0,55.80,Spring
73099,2024-01-01,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring

In [3]:
dt.columns

Index(['Date', 'Store ID', 'Product ID', 'Category', 'Region',
       'Inventory Level', 'Units Sold', 'Units Ordered', 'Demand Forecast',
       'Price', 'Discount', 'Weather Condition', 'Holiday/Promotion',
       'Competitor Pricing', 'Seasonality'],
      dtype='object')

In [5]:
dt.dtypes

Date                   object
Store ID               object
Product ID             object
Category               object
Region                 object
Inventory Level         int64
Units Sold              int64
Units Ordered           int64
Demand Forecast       float64
Price                 float64
Discount                int64
Weather Condition      object
Holiday/Promotion       int64
Competitor Pricing    float64
Seasonality            object
dtype: object

In [7]:
dt.shape

(73100, 15)

In [8]:
dt.describe

<bound method NDFrame.describe of              Date Store ID Product ID     Category Region  Inventory Level  \
0      2022-01-01     S001      P0001    Groceries  North              231
1      2022-01-01     S001      P0002         Toys  South              204
2      2022-01-01     S001      P0003         Toys   West              102
3      2022-01-01     S001      P0004         Toys  North              469
4      2022-01-01     S001      P0005  Electronics   East              166
...           ...      ...        ...          ...    ...              ...
73095  2024-01-01     S005      P0016    Furniture   East               96
73096  2024-01-01     S005      P0017         Toys  North              313
73097  2024-01-01     S005      P0018     Clothing   West              278
73098  2024-01-01     S005      P0019         Toys   East              374
73099  2024-01-01     S005      P0020    Groceries   East              117

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0             127             55           135.47  33.50        20
1             150             66           144.04  63.01        20
2              65             51            74.02  27.99        10
3              61            164            62.18  32.72        10
4              14            135             9.26  73.64         0
...           ...            ...              ...    ...       ...
73095           8            127            18.46  73.73        20
73096          51            101            48.43  82.57        10
73097          36            151            39.65  11.11        10
73098         264             21           270.52  53.14        20
73099           6            165             2.33  78.39        20

      Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
0                 Rainy                  0               29.69      Autumn
1                 Sunny                  0               66.16      Autumn
2                 Sunny                  1               31.32      Summer
3                Cloudy                  1               34.74      Autumn
4                 Sunny                  0               68.95      Summer
...                 ...                ...                 ...         ...
73095             Snowy                  0               72.45      Winter
73096            Cloudy                  0               83.78      Autumn
73097             Rainy                  0               10.91      Winter
73098             Rainy                  0               55.80      Spring
73099             Rainy                  1               79.52      Spring

[73100 rows x 15 columns]>

In [9]:
dt.head(3)

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer

In [10]:
dt.tail(10)

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
73090,2024-01-01,S005,P0011,Groceries,North,156,121,156,137.12,86.09,0,Snowy,1,87.83,Summer
73091,2024-01-01,S005,P0012,Electronics,North,495,324,42,317.46,36.94,10,Sunny,0,38.90,Winter
73092,2024-01-01,S005,P0013,Electronics,West,389,276,99,277.27,32.05,0,Snowy,0,35.90,Summer
73093,2024-01-01,S005,P0014,Toys,West,328,190,43,183.97,66.50,0,Snowy,1,65.12,Winter
73094,2024-01-01,S005,P0015,Furniture,North,408,323,92,336.64,83.26,0,Sunny,0,80.96,Winter
73095,2024-01-01,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,Snowy,0,72.45,Winter
73096,2024-01-01,S005,P0017,Toys,North,313,51,101,48.43,82.57,10,Cloudy,0,83.78,Autumn
73097,2024-01-01,S005,P0018,Clothing,West,278,36,151,39.65,11.11,10,Rainy,0,10.91,Winter
73098,2024-01-01,S005,P0019,Toys,East,374,264,21,270.52,53.14,20,Rainy,0,55.80,Spring
73099,2024-01-01,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring